.sideBar {
  grid-row: 1 / -1;
  grid-column: 2;
  border-left: 1px solid var(--clr-grey);
  font-weight: normal;
  overflow: auto;
}

.sideBar > * {
  padding: 1em;
}

.instructions {
  background-color: hsl(100deg, 60%, 95%);
  border-bottom: 1px solid var(--clr-grey);
}

.title {
  font-weight: bold;
  margin-bottom: 1em;
}
